
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #1e1e1e;
    font-family: sans-serif;
    color: #a0a0a0;
    line-height: 1.6;
}

.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 260px 1fr;
    gap: 40px;
    padding-top: 30px;
    margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    padding: 20px;
    position: sticky;
    top: 30px;
}

.main-content{
    /* height: 90vh; */
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 15px;
    padding-left: 40px;
    padding-right: 40px;
}


/* Profile Section */

.Profile{
    text-align: center;
}

.Profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
}

.Profile h2{
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 10px;
    color: #ffffff;
    font-family: Verdana;
}

.Profile P{
    background-color: #1e1e1e;
    padding: 5px 10px;
    color: #ffbf00;
    border: 1px solid #3a3a3a;
    font-size: 0.8rem;
    border-radius: 8px;
    display: inline-block;
    margin-top: 10px;
}


/* Contact Section */

.Contact{
    margin-top: 20px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 300;
    font-size: 0.8rem;
    color: #a0a0a0;
    margin-bottom: -5px;
}

.Contact > div {
    position: relative;
    padding-left: 0px; /* space for dot + line */
    transition: transform 0.25s ease;
}

.Contact > div:hover {
    transform: translateX(6px);
}

.Contact > div::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    width: 1px;
    height: 0;
    background: #facc15;
    border-radius: 10px;
    transform: translateY(-50%);
    transition: height 0.25s ease;
}

/* show line on hover */
.Contact > div:hover::before {
    height: 32px;   /* label + value height */
}

.value{
    color: #e0e0e0;
    text-decoration: none;
    font-size: 0.9rem;
}

.Email,.Phone{
    margin-bottom: 10px;
}

/* Social Media Section*/
.Social{
    margin-top: 20px;
     border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align: center;
}

.Social img{
    height: 30px;
    width: 30px;
    margin-left: 5px;
    margin-right: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.Social img:hover{
    filter: grayscale(0) invert(0);
}


/* Main Content */

/* Navigation */

#navigation{
    padding: 15px 10px;
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}


nav a {
    position: relative;
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

/* underline */
nav a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;           /* distance from text */
    width: 100%;
    height: 1px;
    background-color: #ffbf00;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

/* hover + active */
nav a:hover,
nav a.active {
    color: #ffbf00;
}

nav a:hover::after,
nav a.active::after {
    transform: translateX(-50%) scaleX(1);
}


/* About Me */
.heading{
    color: #e0e0e0;
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.line{
    width: 140px;
    height: 4px;
    background-color: #ffbf00;
    margin-bottom: 15px;
}

.content-aboutme{
    text-align: justify;
    margin-bottom: 20px;
    /* color: #e0e0e0; */
}

#about{
    margin-bottom: 30px;
    border-bottom: 2px solid #3a3a3a;
}

/* Skills Section*/

.item h3{
    font-size: 0.8rem;
    font-weight: 500;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, min(120px));
    grid-template-rows: repeat(auto-fit, min(130px));
    gap: 40px;
}

.item{
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(0%) sepia(0%) saturate(100%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 5px;
}  

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
    filter: none;
    color: #ffffff;
}


/* Education Section */

#education{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 2px solid #3a3a3a;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #3a3a3a;
}

.edtech{
    padding-top: 10px;
    position: relative;
}

.year{
    font-size: 1rem;
    color: #a0a0a0;
    margin-bottom: 0px;
    margin-left: 10px;
}

.degree{
    color: #e0e0e0;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0px;
    margin-left: 10px;
}

.college{
    font-style: italic;
    color: #a0a0a0;
    margin-bottom: 0px;
    margin-left: 10px;
}

.diploma{
    margin-bottom: 30px;
}

.diploma, .ssc{
    position: relative;
    padding-left: 20px;
}

.gol{
    height: 15px;
    width: 15px;
    border: 3px solid #ffbf00;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: -1px;
    z-index: 5;
    background-color: #2a2a2a;
}

.liner{
    position: absolute;
    width: 2px;
    top: 20px;
    bottom: 0px;
    left: 4px;
    border: 2px solid #3a3a3a;
}


/* Project */
.card{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    text-align: center;
    margin-bottom: 50px;
}

.card1{
    background-color: #1e1e1e;
    border-radius: 12px;
    border: 1px solid #3a3a3a;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card1:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}



.card1 img{
    height: 150px;
    width: fit-content;
    object-fit: cover;
}

.descbox{
    padding: 15px;
    text-align: left;
}

.descbox h3{
    color: #e0e0e0;
    margin-bottom: 5px;
}

.descbox p{
    color: #a0a0a0;
    line-height: 1.6;
    margin-bottom: 15px;
}

.descbox span{
    background-color: rgba(255, 191, 0, 0.1);
    color: #ffbf00;
    padding: 4px 8px;
    border-radius: 5px;
    font-size: 0.70rem;
    margin-right: 5px;
} 